/node_modules
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.log
.DS_Store
Thumbs.db
/logs
/compiled
/configuration/config.php
/simpla/.passwd
/cron/log.txt
/sql/local.sql
/public/test.php
/deploy/vault
/files/managers
